:host,
:root {
  color-scheme: light dark;

  --color-background-light: #ffffff; /* White */
  --color-dimmed-light: #f3f4f5; /* Light Gray 200 */
  --color-primary-light: #191e23; /* Dark Gray 900 */
  --color-secondary-light: #6c7781; /* Dark Gray 300 */
  --color-link-light: #0073aa; /* WordPress Blue */

  --color-background-dark: #191e23; /* Dark Gray 900 */
  --color-dimmed-dark: #23282d; /* Dark Gray 800 */
  --color-primary-dark: #fbfbfc; /* Light Gray 100 */
  --color-secondary-dark: #ccd0d4; /* Light Gray 700 */
  --color-link-dark: #00a0d2; /* Medium Blue */

  --color-background: var(--color-background-light);
  --color-dimmed: var(--color-dimmed-light);
  --color-primary: var(--color-primary-light);
  --color-secondary: var(--color-secondary-light);
  --color-link: var(--color-link-light);

  --scale-ratio: 1.25;
  --scale0: 1rem;
  --scale1: calc(var(--scale0) * var(--scale-ratio));
  --scale2: calc(var(--scale1) * var(--scale-ratio));
  --scale3: calc(var(--scale2) * var(--scale-ratio));
  --scale4: calc(var(--scale3) * var(--scale-ratio));
  --scale5: calc(var(--scale4) * var(--scale-ratio));

  --icon-size: 16px;
  --font-size: 16px;
  --font: 1em/1.5 Lato, sans-serif;

  --svg-pronouns: url('data:image/svg+xml, <svg width="16" height="16" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="6" cy="13.2402" r="4.5" stroke="currentColor" stroke-width="2"/><circle cx="14" cy="13.2402" r="4.5" stroke="currentColor" stroke-width="2"/><circle cx="10" cy="6.2002" r="4.5" stroke="currentColor" stroke-width="2"/></svg>');
  --svg-map-pin: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>');
  --svg-mail: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>');
  --svg-phone: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-phone"><path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path></svg>');
  --svg-link: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link"><path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path><path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path></svg>');
  --svg-user: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>');

  --svg-network: var(--svg-user);
}

@media (prefers-color-scheme: dark) {
  :host,
  :root {
    --color-background: var(--color-background-dark);
    --color-dimmed: var(--color-dimmed-dark);
    --color-primary: var(--color-primary-dark);
    --color-secondary: var(--color-secondary-dark);
    --color-link: var(--color-link-dark);
  }
}

:host,
:root {
  font-size: var(--font-size);
  font: var(--font);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

[itemscope]#jsonresume > article {
  background: var(--color-background);
  color: var(--color-primary);
  display: grid;
  gap: 2em;
  grid-template-columns:
    [full-start]
    1fr
    [main-start side-start]
    minmax(min-content, 12em)
    [side-end content-start]
    minmax(min-content, 36em)
    [main-end content-end]
    1fr
    [full-end];
  grid-template-rows: subgrid;

  &::before {
    content: '';
    grid-column: full;
    grid-row: content;
  }
}

/* screen-reader-only content */
.sr-only {
  clip: rect(0px, 0px, 0px, 0px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0px;
  position: absolute;
  white-space: nowrap;
}

ol,
ul {
  padding-left: 1em;
}

:not(.icon-list, .tag-list) > li + li {
  margin-top: 0.4em;
}

li::marker,
.network {
  color: var(--color-secondary);
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h5 {
  font-weight: normal;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

h1 {
  font-size: var(--scale5);

  [itemprop='gender'] {
    font-size: 0.6em;
    &::before {
      content: '(';
    }
    &::after {
      content: ')';
    }
  }
}

h2 {
  color: var(--color-secondary);
  font-size: var(--scale4);
}

h3 {
  color: var(--color-secondary);
  font-size: var(--scale3);
  grid-column: side;
  margin-bottom: 1rem;
}

h4 {
  font-size: var(--scale2);
}

h5 {
  font-size: var(--scale1);
}

h6 {
  font-size: var(--scale0);
}

address {
  font-style: normal;
}

blockquote {
  border-left: 0.2em solid var(--color-dimmed);
  padding-left: 1em;
}

cite {
  color: var(--color-secondary);
  font-style: inherit;
}

cite::before {
  content: '— ';
}

svg {
  margin-right: 0.2em;
  vertical-align: text-bottom;
}

[part='basics'] {
  background: var(--color-dimmed);
  display: grid;
  gap: 1em;
  grid-column: full;
  grid-template-columns: subgrid;
  padding: 1em 0;
  text-align: center;

  p {
    text-wrap: balance;
  }
}

[part='basics'] > *,
section {
  grid-column: main;
}

[part='basics'] img[itemprop='image'] {
  border: 4px solid;
  border-radius: 50%;
  margin: 0 auto;
  max-width: 12em;
}

.stack article > * + *,
blockquote > * + * {
  margin-top: 0.6em;
}

.meta {
  color: var(--color-secondary);
}

.stack {
  display: grid;
  gap: 1.5em;
}

.stack dt {
  font-size: var(--scale2);
  font-weight: bold;
}
.stack dd:not(.meta) {
  margin-top: 0.6em;
}

div:has(address + address) {
  [part='contact'] {
    margin-bottom: 0.5em;
  }
}
.icon-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4em 1em;
  justify-content: center;
  list-style: none;
  padding: 0;

  div,
  li {
    display: flex;
    align-items: center;
    gap: 2px;
  }

  dt,
  dd {
    display: inline-block;
  }

  dt {
    &::before {
      display: block;
      width: var(--icon-size);
      height: var(--icon-size);
      background-color: var(--color-primary);
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-position: center;
      mask-position: center;
      content: ' ';
    }
  }
  .location dt::before {
    -webkit-mask-image: var(--svg-map-pin);
    mask-image: var(--svg-map-pin);
  }
  .pronouns dt::before {
    -webkit-mask-image: var(--svg-pronouns);
    mask-image: var(--svg-pronouns);
  }
  .email dt::before {
    -webkit-mask-image: var(--svg-mail);
    mask-image: var(--svg-mail);
  }
  .phone dt::before {
    -webkit-mask-image: var(--svg-phone);
    mask-image: var(--svg-phone);
  }
  .url dt::before {
    -webkit-mask-image: var(--svg-link);
    mask-image: var(--svg-link);
  }

  div[itemprop='ContactPoint'] {
    position: relative;
    width: fit-content;
    dt {
      &::before {
        -webkit-mask-image: var(--svg-network);
        mask-image: var(--svg-network);
      }
    }
    dd {
      &::after {
        content: ' (' attr(data-network) ') ';
        font-size: 0.9em;
      }
    }
  }
}

.title-list {
  display: grid;
  gap: 1em;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4em;
  list-style: none;
  padding: 0;
  align-content: flex-start;
}
.title-list dt,
.tag-list dt {
  font-size: var(--scale2);
  font-weight: bold;
  flex: 1 1 100%;
}

.tag-list > li,
.tag-list > dd {
  background: var(--color-dimmed);
  border-radius: 0.2em;
  padding: 0.2em 0.6em;
}

.timeline > div {
  position: relative;
}

.timeline > div:not(:last-child) {
  padding-bottom: 1rem;
}

footer {
  grid-column: main;
  display: flex;
  gap: 1em;
  margin-top: 2em;
  font-size: 0.8em;
}

@media print, (min-width: 48em) {
  h3 {
    text-align: right;
    margin-bottom: inherit;
  }

  [part='basics'] {
    text-align: inherit;
    display: grid;
    gap: 2em;
  }

  [part='basics'] > *,
  section {
    grid-column: content;
  }
  [part='basics'] > :has(h1) {
    display: grid;
    place-items: center;
    align-content: center;
    justify-items: start;
  }
  [part='basics'] img {
    grid-column: side;
    grid-row: 1 / 3;
    max-width: 100%;
    margin-top: 2em;
  }

  section {
    display: contents;
  }

  .icon-list {
    flex-direction: column;
  }

  .title-list {
    grid-template-columns: repeat(auto-fit, minmax(calc((100% - 1em) / 2), 1fr));
  }

  footer {
    grid-column: content;
  }
}
